/* ========form, btn윤곽========== */
.form-control { border-radius: 0;}
.btn {border-radius: 0;}

/* =========header영역========= */
section {margin: 70px;}

.my-header {
    background-color: #263238;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
}

.my-header a {
    color: white;
    font-size: 17px;
}

.navbar-brand {
    padding: 10px 40px;
}

.navbar {
    margin-bottom: 0px;
}

/* 가상성택자 요소 색상 변경 */
.nav>li>a:focus,
.nav>li>a:hover {
    background-color: gray;
}

.nav .open>a,
.nav .open>a:focus,
.nav .oepn>a:hover {
    background-color: gray;
}

.navbar-toggle {
    border-color: white;
}

.navbar-toggle .icon-bar {
    background-color: white;
}


/* ========footer영역=========== */
footer {
  background-color: #263238;
  color: white;
  font-size: 13px;
  padding: 40px 0; /* 위 아래 40 좌우 0 */
  margin-top: 70px; /* footer바깥 여백 70, 본문 영역과 붙지 않도록 */
}

footer .footer-copyright address {
  margin-bottom: 0;
}

footer .footer-menu {
  text-align: right;
  /* 부트스트랩의 text-right속성으로 적용 가능 */
}

footer .footer-menu li {
  display: inline-block;
  padding: 0 10px;
}

footer .footer-menu li a {
  text-decoration: none;
  color: white;
  font-size: 13px;
}



/* =============배너영역============= */



/* =============index============= */
.prod-list
, .prod-box {
  display: block;
  border: 1px solid #777;
  text-align: center;
  /* padding: 20px; */
}

.prod-list 
, .prod-list > li {
  padding: 5px; /* 가장 바깥, 숨김박스 패딩 5  */
}

.prod-box {
  position: relative;
}

.prod-box .arrow {
  display: block; /* 높이 넓이를 사용하기 위해 */
  width: 35px;
  height: 35px;
  line-height: 35px;
  position: absolute; /* 위치 기반으로 올릴 부모 클래스에 relative */
  bottom: 20px;
  left: 20px;
  background-color: #ccc;
  color: white;
  opacity: 1;
}

.prod-box .hover {
  display: block; /* 높이 넓이를 사용하기 위해 */
  width: 100px;
  height: 35px;
  line-height: 35px;
  position: absolute; /* 위치 기반으로 올릴 부모 클래스에 relative */
  bottom: 20px;
  left: 20px;
  background-color: #1367e6;
  color: white;
  opacity: 0; /* 투명도 0~1 */
}

/* hover기능시 arrow의 투명도 변경 */
.prod-box:hover > .arrow {
  opacity: 0;
}
.prod-box:hover > .hover {
  opacity: 1;
}
/* hover기능 시에 자신의 border값 변경 */
.prod-box:hover {
  border: 1px solid #1367e6;
}


/* ==========상품 그리드============ */

.prod-img {text-align: center;}
.prod-content {overflow: hidden; padding: 20px 0;}
.prod-info {float: left;}
.prod-info span {display: block;}
.prod-price span {float: right;}

.prod-color {overflow: hidden;}
.prod-color ul li {float: left;}

.prod-color { /* 숨겨놓은 영역 */
  margin-top: -36px; 
  opacity: 0; 
  transition: opacity 0.5s ease-in-out; /* transition(변경할 옵션, 주기, 변경속도, 딜레이초) */
}
.prod-list2:hover > .prod-color {
  opacity: 1;
}

/* 페이지네이션 버튼 */
.text-center {overflow: hidden;}
.text-center .pagination {margin: 0;}
.text-center button {float: right; padding: 4px;}


/* ===========상품 디테일=============== */

.detail-info .title {font-size: 20px; font-weight: 1000; }
.detail-info .price {border-bottom: 1px solid #777; border-top: 1px solid #777; padding: 10px 0;}
.detail-info .content {color: #888;}
.detail-control {padding-top: 147px;}

.detail-control .price {overflow: hidden;}
.detail-control .order {overflow: hidden;}
.detail-control .left {float: left;}
.detail-control .right {float: right;}

/* 글씨 조정 (상자 높이에 line-height를 맞춘다) */
.detail-control .price .left {font-size: 15px; line-height: 52px; margin: 0;}
.detail-control .price .right {font-size: 30px; margin: 0;}

/* 버튼 */
.detail-control .order button {width: 50%; padding: 10px 15px; font-size: 20px;}

/* 댓글 영역 */
.reply-group input {width: 180px; margin: 5px;}
.reply-wrap {
  background-color: #f5f5f5; 
  border: 1px solid #ddd; 
  padding: 20px; 
  position: relative;
}
.reply-img {position: absolute; margin: 5px;}
.reply-content {padding-left: 60px;}
.reply-group {margin-top: 10px; overflow: hidden;}
.reply-group .left {float: left;}
.reply-group .right {float: right;}


/* 텍스트영역 리사이징 옵션, 애니메이션 */
.reply-content textarea {
  margin-bottom: 10px;
  resize: vertical;
  height: 100px;
  transition: height 0.5s ease-in-out; /* 애니메이션 효과 (변경할 속성, 지속 시간, 애니메이션 방식, 딜레이 초) */
}
.reply-content textarea:focus {
  height: 200px;
}

.reply-wrap .reply-update {float: right;}
.reply-wrap .reply-update a {text-decoration: none;  color: #777;}



/* =============join================= */
 /* 제목 박스 */
 .title-box {
  width: 250px;
  margin: 60px auto; /* 박스 정렬 */
  text-align: center; /* 글씨 정렬 */
  padding: 20px 40px;
  border-bottom: 1px solid #E1E1E1;
  border-top: 1px solid #E1E1E1;
}
.join-form {
  /* 하나의 그리드 상자를 정가운데 정렬 방법 */
  margin: 0 auto; /* 가운데 정렬이 안되는 이유 : col관련된 클래스가 float을 가지고 있기 때문 */
  float: none;
}

.join-form form {
  /* border: 1px solid #777; */
  padding: 50px;
  border-radius: 12px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.335); /* 박스의 그림자 */
}
@media (max-width: 767px) { /* 767px미만일때 적용(col-xs가 동작하는 픽셀과 같음) */
  .join-form form {
    padding: 50px 10px;
  }
}



/* =======login========== */
.login-form {
  margin: 0 auto;
  float: none;
}

.login-form form {
  padding: 50px;
  border-radius: 12px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.335);
}
@media (max-width: 767px) {
  .login-form form {
    padding: 50px 10px;
  }