/* ========form, btn윤곽========== */
.form-control { border-radius: 0;}
.btn {border-radius: 0;}

/* =========header영역========= */
.my-header {
    background-color: #263238;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
}

.my-header a {
    color: white;
    font-size: 17px;
}

.navbar-brand {
    padding: 10px 40px;
}

.navbar {
    margin-bottom: 0px;
}

/* 가상성택자 요소 색상 변경 */
.nav>li>a:focus,
.nav>li>a:hover {
    background-color: gray;
}

.nav .open>a,
.nav .open>a:focus,
.nav .oepn>a:hover {
    background-color: gray;
}

.navbar-toggle {
    border-color: white;
}

.navbar-toggle .icon-bar {
    background-color: white;
}


/* ========footer영역=========== */
footer {
  background-color: #263238;
  color: white;
  font-size: 13px;
  padding: 40px 0; /* 위 아래 40 좌우 0 */
  margin-top: 70px; /* footer바깥 여백 70, 본문 영역과 붙지 않도록 */
}

footer .footer-copyright address {
  margin-bottom: 0;
}

footer .footer-menu {
  text-align: right;
  /* 부트스트랩의 text-right속성으로 적용 가능 */
}

footer .footer-menu li {
  display: inline-block;
  padding: 0 10px;
}

footer .footer-menu li a {
  text-decoration: none;
  color: white;
  font-size: 13px;
}



/* =============배너영역============= */
.my-banner {margin-top: 50px;}
      .carousel-control.right
      , .carousel-control.left {
        background-image: linear-gradient(to right,rgba(0,0,0,.0) 0,rgba(0,0,0,0) 100%);;
      }



/* =============index============= */
.prod-list
, .prod-box {
  display: block;
  border: 1px solid #777;
  text-align: center;
  /* padding: 20px; */
}

.prod-list 
, .prod-list > li {
  padding: 5px; /* 가장 바깥, 숨김박스 패딩 5  */
}

.prod-box {
  position: relative;
}

.prod-box .arrow {
  display: block; /* 높이 넓이를 사용하기 위해 */
  width: 35px;
  height: 35px;
  line-height: 35px;
  position: absolute; /* 위치 기반으로 올릴 부모 클래스에 relative */
  bottom: 20px;
  left: 20px;
  background-color: #ccc;
  color: white;
  opacity: 1;
}

.prod-box .hover {
  display: block; /* 높이 넓이를 사용하기 위해 */
  width: 100px;
  height: 35px;
  line-height: 35px;
  position: absolute; /* 위치 기반으로 올릴 부모 클래스에 relative */
  bottom: 20px;
  left: 20px;
  background-color: #1367e6;
  color: white;
  opacity: 0; /* 투명도 0~1 */
}

/* hover기능시 arrow의 투명도 변경 */
.prod-box:hover > .arrow {
  opacity: 0;
}
.prod-box:hover > .hover {
  opacity: 1;
}
/* hover기능 시에 자신의 border값 변경 */
.prod-box:hover {
  border: 1px solid #1367e6;
}
